@import "tailwindcss";

:root {
  --background: #14181F;
  --foreground: #171717;
  --input-background: #1D222A;
  --primary-orange: #f44734;
  --red-accent: #F04438;
  --orange-accent: #F97316;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.text-primary-orange {
  color: var(--primary-orange);
}

.bg-input-background {
  background: var(--input-background);
}